/* style.css */

html,
body {
  height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

main {
  border: 5px solid black;
}
